body {
 background-color: white;  
}
    
@font-face {font-family:"Lucida Blackletter";src:url("Aro.eot?")
}
     
.content{ 
    text-align: center;
    float: center;
    background-color: #AEC6CF;
}
    
ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.a {
    float:right;   
}

a.ex1:link, a.ex1:visited {
    display: block;
    width: 200px;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}

a.ex1:hover, a.ex1:active {
 font-weight: 500;
}

.innerContainer{
 height:334px;
 width: auto;
 background-color:  white;
    padding-left: 10px;
    padding-top: 40px;

}

.menusq{
 height: 40px;
    width: auto;
   
}

.headline{
 text-align: center;   
}

.innerContainer2{
 height:400px;
 width: auto;
padding-top: 15px;
    padding-right: 20px;
    
}

.innerContainer3{
 height:350px;
 width: auto;
 background-color:  white;
    padding-left: 7px;
    padding-right: 7px;

}


h1{
 font-size: 18px;   
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
   padding-top: 5px;
}

.findus{
border: 0;
   padding-left: 475px;

}

.lineseparator{
   height: 1px;
    background-color: black;
}

h2{
 font-size: 18px;   
    text-align: left;
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a.ex2:link, a.ex2:visited {
    width: 200px;
    color: black;
    padding: 0px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}

a.ex2:hover, a.ex2:active {
    color: white;
}

h3{
  font-size: 18px;   
    text-align: right;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    margin-top: -120px;
}


h6{
font-family: 'Lucida Blackletter'; 
 float: left;
padding-left: 40px;
    font-size: 40px;
}

h7{
font-family: 'Lucida Blackletter';
    font-size: 150px;
}


h4{
 font-size: 18px;   
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}



a.shopp:link, a.shopp:visited {
 text-decoration: none;
color: black;
 
}

a.mailto:link, a.mailto:visited {
 text-decoration: none;
color: black;
}

a.mailto:hover, a.mailto:active {
   font-weight: 500;
}