body {
 background-color: white;  
}
    
@font-face {font-family:"Lucida Blackletter";src:url("Aro.eot?")
}
    
.headline{
 text-align: center;   
}    
.content{ 
    text-align: center;
    float: center;
    background-color: #AEC6CF;
}
    
ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    position:inherit;
}

li.a {
    float: right;
    
}

a.ex1:link, a.ex1:visited {
    display: block;
    width: 200px;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}

a.ex1:hover, a.ex1:active {
 font-weight: 500;
}


.menusq{
 height: 50px;
    width: auto;


}

.innerContainer2{
 height:800px;
 width: auto;
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 20px;
    background-color: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
    
}

.innerContainer3{
 height:480px;
 width: auto;
 background-color:  #AEC6CF;


}


h1{
 font-size: 18px;   
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
   padding-top: 5px;
}



.lineseparator{
   height: 1px;
    background-color: black;
}

h2{
 font-size: 18px;   
    text-align: left;
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
li.b{
 text-align: left;
}
ul#help{
    list-style-type: none;
        font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}

li.c{
 text-align: right; 
    margin-right: 40px;
}

ul#Shopping{
 list-style-type: none;

    
}

a.ex2:link, a.ex2:visited {

    width: 200px;
    color: black;

    padding: 0px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}

a.ex2:hover, a.ex2:active {
    color: white;
}

h3{
  font-size: 18px;   
    text-align: right;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    margin-top: -120px;
}

h7{
font-family: "Lucida Blackletter";
    font-size: 150px;
}


a.poem:link, a.poem:visited {
color: black;
    text-decoration: none;
}

a.poem:hover, a.poem:active {
    color: black;
}
   
.dcat1{
    padding-top: 40px;

}

.dcat2{
 padding-top: 40px;   
}

.four{
 padding-left: 20px;   

}

.three{
 padding-left: 20px; 
    
}

.two{
 padding-left: 20px;   

    
}

.one{
 padding-left: 20px;  

    
}

.fourt{
 padding-left: 20px;   
    
}

.threet{
 padding-left: 20px;   
    
}

.twot{
 padding-left: 20px;   
    
}

.onet{
 padding-left: 20px;   
    
}

h9{
        font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    font-size: 18px;
margin-left: 430px;
}


.lineseparator2{
   height: 1px;
    background-color: black;
    text-align: center;
    margin-left: 380px;
    margin-right: 400px;
    margin-top: 10px;
}