h1 {
  font-family: sans-serif;
  color:#000000;
font-size: 100px;
text-align:center;
margin-top: -150px;
text-shadow: 2px 2px rgba(174,198,207,0.7);
    margin-left: 175px;
     
}


h3 {
    font-family:sans-serif;
    color:'black';
    margin-left: 10px;

    
}

h4 {
    font-family: sans-serif;
    color:#2b2b2b;
    font-size: 25px;

    margin-left: 0px;
}

p {

font-family:sans-serif;
    
}

body {
 background-color: white;  
}
    
a:link, a:visited {
    display: block;
    width: 306px;
    font-weight: bold;
    color: #ffffff;
    background-color: #AEC6CF;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

a:hover, a:active {
    background-color: #000000;
}  
    
a:link {
    text-decoration: none;
}
    
     
.content{
    
    text-align: center;
    float: center;

    background-color: #AEC6CF;
}
    

.menu{
position: relative;
}
.mainWrapper{

}

.borders{
 border:1px solid black;
}


.innerContainers{
 height:200px;
    background-color: black;
}

.image{
 margin-left: 400px; 
    margin-top: -600px;
}
